<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <%= link_to @condition.pet.name, pet_path(@condition.pet), class: "nav-link" %>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <%= form_for @condition do |f| %>
      <%= f.label :title %><br>
      <%= f.text_field :title %><br>
      <%= f.label :notes %><br>
      <%= f.text_area :notes %><br>
      <br>
      <%= f.submit "Update Condition", class: "btn btn-outline-success" %>
    <% end %>

</div>
