<div class="card text-center shows">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <%= link_to 'Go Back', request.headers['HTTP_REFERER'] %>
      </li>
      <li class="nav-item">
        <%= link_to "#{current_user.name}", owner_path(current_user), class: "nav-link" %>
      </li>
    </ul>
    <div class="card-header logo-font-form text-primary">
    New Condition
  </div>
  </div>
  <div class="card-body">
    <%= form_for @condition do |f| %>
      <%= f.label :title %><br>
      <%= f.text_field :title %><br>
      <%= f.label :notes %><br>
      <%= f.text_area :notes %><br>
      <%= f.label :pet_id %>
      <%= f.collection_select :pet_id, current_user.pets, :id, :name %><br>
      <%= f.submit "Create New Condition", class: "btn btn-primary" %>      <br>
    <% end %>

</div>
