<div class="container">
<div class="card shows">
  <div class="card-header logo-font-form text-primary">
  Sign Up
</div>
  <div class="card-body">

    <% @owner.errors.full_messages.each do |error| %>
    <div class="alert-danger"><%= error %></div>
    <% end %>
<%= form_for @owner, url: signup_path do |f| %>
  <div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %><br>
  </div>
  <div class="form-group">
  <%= f.label :password %>
  <%= f.password_field :password, class: "form-control" %><br>
  </div>
  <div class="form-group">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: "form-control" %><br>
  </div>
  <%= f.submit "Sign Up", class: "btn btn-primary" %>
<% end %>
</div>
</div>
</div>
