<%= link_to '<button type="button">Add A Pet!</button>'.html_safe, new_pet_path %> <%= link_to '<button type="button">Add a Partner!</button>'.html_safe, new_relationship_path %>

<h1 class="banner"><%= @owner.name %></h1>


<p><% if @owner.image.attachment %>
  <%= image_tag @owner.image %>
  <% else %>
  There's no image.
  <% end %>
</p>

<p><%= @owner.bio %></p>

<% if @owner.display_most_recent == ["No Activity Yet!"] || @owner.display_most_recent == "No Activity Yet!"%>
<p class="important">"No Activity Yet!"</p>
<% else %>
<p class="important"><%= @owner.living_method.pet.name %> <%= @owner.recent_activity(@owner.living_method) %> at <%= @owner.living_method.logged_time %></p>
<% end %>

<br>
<br>
<% if @owner.appointments.empty? %>
<%= link_to "Schedule Appointments", new_appointment_path %>
<% elsif @owner.appointments.last.logged_time < Time.now.strftime("%I:%M %P on %m/%d/%Y")  %>
<% else %>
<h3>Upcoming Appointments:</h3>
<%= @owner.appointments.last.logged_time %>
<% end %>
<br>
<br>
<% if @owner.pets.empty? %>
<%= link_to '<button type="button">Add A Pet!</button>'.html_safe, new_pet_path %>
<% else %>
<h2>My Pets!</h2>
<ul>
  <% @owner.pets.each do |pet| %>
    <li><%= link_to pet.name, pet %> <%= pet.recent_activity(pet.most_recent)%> <%= pet.most_recent == "No Activity Yet!" ? "" : "at #{pet.most_recent.logged_time}" %></li>
  <% end %>
</ul>
<% end %>
