
<div class="column side">
<table class="center">
<tr><td>
<h2 class="big-header"><%= @owner.name %></h2>
</td></tr>
<tr><td>
<p class="important"><% if @owner.image.attachment %>
  <%= image_tag @owner.image, style: 'height:auto;width:300px;' %>
  <% else %>
  There's no image.
  <% end %>
</p>
</td></tr>
<tr><td class="important">
<% if @owner.bio == nil %>
<%= link_to '<button type="button">Update your profile!</button>'.html_safe, edit_owner_path(@owner) %>

<% else %>
<p><%= @owner.bio %></p>
<% end %>
</td></tr>
</table>

<%= link_to '<button type="button">Add A Pet!</button>'.html_safe, new_pet_path %> <%= link_to '<button type="button">Edit Profile!</button>'.html_safe, edit_owner_path %> <%= link_to '<button type="button">Add a Partner!</button>'.html_safe, new_relationship_path %>
</div>
<div class="column middle">
  <h3 class="mid-header">Recent Activity</h3>
<table class="feed">
  <tr>
  <% if @owner.display_most_recent == ["No Activity Yet!"] || @owner.display_most_recent == "No Activity Yet!"%>
  <p>"No Activity Yet!"</p>
  <% else %>
  <td onclick="location.href='<%= pet_path(@owner.living_method.pet) %>'"><%= @owner.living_method.pet.name %> <%= @owner.recent_activity(@owner.living_method) %> at <%= @owner.living_method.logged_time %></td>
  <% end %>
</tr>
</table>

<br>
<% if @owner.appointments.empty? %>
<%= link_to "Schedule Appointments", new_appointment_path %>
<% elsif @owner.appointments.last.logged_time > Time.now.strftime("%I:%M %P on %m/%d/%Y")  %>
<% else %>
<div class="mid-header">
<h3>Upcoming Appointments:</h3>
</div>
<table class="feed">
  <tr>
  <td onclick="location.href='<%= appointment_path(@owner.appointments.last)%>'">
<%= @owner.appointments.last.logged_time %>
</td></tr></table>
<% end %>
<br>
<br>
<% if @owner.pets.empty? %>
<%= link_to '<button type="button">Add A Pet!</button>'.html_safe, new_pet_path %>
<% else %>

<table class="cool">
  <h2 class="big-header">My Pets!</h2>
  <% @owner.pets.each do |pet| %>
    <tr onclick="location.href='<%= pet_path(pet) %>'"><td><%=pet.name%></td> <td><%= pet.recent_activity(pet.most_recent)%></td><td> <%= pet.most_recent == "No Activity Yet!" ? "" : "at #{pet.most_recent.logged_time}" %></td></tr>
  <% end %>
</table>
<% end %>
</div>
<div class="column side">
  <h3 class="mid-header"> All Activity</h3>
  <table class="all-feed">
  <% @owner.sorted_all_feed.each do |thing| %>
  <tr><td><%= thing.pet.name %></td> <td><%=thing.class%></td><td><%= thing.logged_time %></td></tr>
  <% end %>
</table>

</div>
