<!--  User Dashboard Left Side -->

<div class="column side">
<table class="center">
<tr><td>
<h2 class="big-header"><%= @owner.name %></h2>
</td></tr>
<tr><td>
<p class="important"><% if @owner.image.attachment %>
  <%= image_tag @owner.image, style: 'height:auto;width:100%;', class: "jumbo-shadow"%>
  <% else%>
  <%if @owner.id == session[:owner_id] %>
  <%= link_to "Add an image!", edit_owner_path(@owner), method: :get, class: "btn btn-outline-success" %>
  <% end %>
  <% end %>
</p>
</td></tr>
<tr><td class="important">
<% if @owner.bio == nil %>
<% if @owner.id == session[:owner_id] %>
<%= link_to "Add a Bio!", edit_owner_path(@owner), method: :get, class: "btn btn-outline-success" %>
<% end %>
<% else %>
<p><%= @owner.bio %></p>
<% end %>
</td></tr>
</table>
<% if @owner.id == session[:owner_id] %>
<table>
<tr><%= link_to "Add a Pet!", new_pet_path, method: :get, class: "btn btn-outline-primary" %> <%= link_to "Edit Profile!", edit_owner_path, method: :get, class: "btn btn-outline-success" %> <%= link_to "Add Partner!", new_relationship_path, method: :get, class: "btn btn-outline-info" %>
  <%= link_to "Delete Profile", @owner, class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure you want to delete your profile?"} %>
</tr>
</table>
<% end %>
</div>



<div class="column middle">
  <div class="jumbotron jumbo-shadow jumbo-custom-bg">
  <h3 class="mid-header">Recent Activity</h3>
<table class="feed">
  <tr>
  <% if @owner.display_most_recent == ["No Activity Yet!"] || @owner.display_most_recent == "No Activity Yet!"%>
  <p>No Activity Yet!</p>
  <% else %>
  <% if @owner.id == session[:owner_id] %>
  <td onclick="location.href='<%= pet_path(@owner.living_method.pet) %>'">
    <% else %>
    <td>
      <% end %>

  <%= @owner.living_method.pet.name %> <%= @owner.recent_activity(@owner.living_method) %> at <%= @owner.living_method.logged_time %></td>
  <% end %>
</tr>
</table>
</div>

<br>
<% if @owner.appointments.empty? && @owner.pets.empty?%>
<% elsif @owner.appointments.empty? %>
  <% if @owner.id == session[:owner_id] %>
<%= link_to "Schedule Appointments", new_appointment_path, method: :get, class: "btn btn-outline-warning" %><% end %>
<% elsif @owner.appointments.last.logged_time > Time.zone.now.strftime("%I:%M %P on %m/%d/%Y")%>
<% elsif @owner.next_appointment != nil %>
<div class="jumbotron jumbo-shadow">
<div class="mid-header">
<h3>Upcoming Appointments:</h3>
</div>
<table class="feed">
  <tr>
    <% if @owner.id == session[:owner_id] %>
  <td onclick="location.href='<%= appointment_path(@owner.next_appointment)%>'">
    <% else %>
    <td>
      <% end %>
<%= @owner.next_appointment.pet.name %> - <%= @owner.next_appointment.logged_time %>: "<%= @owner.next_appointment.title %>"
</td></tr></table>
</div>
<% end %>
<br>
<br>
<% if @owner.pets.empty? && @owner == current_user%>
<%= link_to "Add a Pet!", new_pet_path, method: :get, class: "btn btn-outline-primary" %>
<% else %>

<!--  Testing code -->
<div class="jumbotron jumbo-shadow jumbo-custom-bg">
<table class="cool">
<tr><p class="big-header"><%= link_to "My Pets!", pets_path %> </p></tr>
<% @owner.pets.each do |pet| %>
  <tr onclick="location.href='<%= pet_path(pet) %>'"><td><%=pet.name%></td> <td><%= pet.recent_activity(pet.most_recent)%></td><td> <%= pet.most_recent == "No Activity Yet!" ? "" : "at #{pet.most_recent.logged_time}" %></td></tr>
<% end %>
</table>
<% end %>

</div>
</div>

<!-- Testing Code -->

<div class="column side">
  <h3 class="mid-header"> All Activity</h3>
  <div class="scroll-div">
  <table class="all-feed">
    <% if @owner.sorted_all_feed.empty? %>
    <tr>
      <td>No Activity Yet!</td>
    </tr>
    <% else %>
  <% @owner.sorted_all_feed.each do |activity| %>
  <% if @owner.id == session[:owner_id] %>
  <% if activity.class == Waste %>
    <tr onclick="location.href='<%= waste_path(activity) %>'">
  <% elsif activity.class == Play%>
    <tr onclick="location.href='<%= play_path(activity) %>'">
  <% elsif activity.class == Food%>
    <tr onclick="location.href='<%= food_path(activity) %>'">
  <% elsif activity.class == Appointment%>
    <tr onclick="location.href='<%= appointment_path(activity) %>'">
    <% else %>
    <tr>
  <% end %>
  <% end %>
    <td><%= activity.pet.name %></td> <td><%=activity.pet.recent_activity(activity)%></td><td><%= activity.logged_time %></td>
  </tr>
  <% end %>
  <% end %>
</table>
</div>

</div>
