


<!-- <div class="card">
  <div class="card-body">
    <div class="card-header logo-font-form text-primary">
      My Pets
    </div>
<div class="column middle">
<table class="cool">
  <tr>
    <th class="text-primary">Name</th>
    <th class="text-primary">Species</th>
    <th class="text-primary">Breed</th>
  </tr>
<% @pets.each do |pet| %>
<tr onclick="location.href='<%= pet_path(pet) %>'">
  <td><%= pet.name %></td><td> <%= pet.species %></td><td> <%= pet.breed %></td>
</tr>
<% end %>
</table>
</div>
</div>
</div> -->

<div class="container custom-cont">
<div class="card-column custom-group-width">
<% @pets.each do |pet| %>
  <div class="card">

    <% if pet.image.attachment %>
    <%= image_tag pet.image, class: "card-img-top rounded", style: "width:100%;height:auto;" %>
    <% else %>
    There is no image!
    <% end %>

    <div class="card-body">
      <h5 class="card-title logo-font-form text-primary"><%= link_to pet.name, pet %></h5>
      <p class="card-text"><%= pet.species %> - <%= pet.breed %><br>
        Age: <%= pet.age %><br>
      Weight: <%= pet.weight %>
    </p>

      <% pet.relationships.each do |rel| %>
      <p class="card-text"><small class="text-muted"><%= link_to "#{rel.title} - #{rel.owner.name}", owner_path(rel.owner)%></small></p>
      <% end %>
    </div>
  </div>
  <% end %>


</div>
</div>
