


<!-- <div class="card">
  <div class="card-body">
    <div class="card-header logo-font-form text-primary">
      My Pets
    </div>
<div class="column middle">
<table class="cool">
  <tr>
    <th class="text-primary">Name</th>
    <th class="text-primary">Species</th>
    <th class="text-primary">Breed</th>
  </tr>
<% @pets.each do |pet| %>
<tr onclick="location.href='<%= pet_path(pet) %>'">
  <td><%= pet.name %></td><td> <%= pet.species %></td><td> <%= pet.breed %></td>
</tr>
<% end %>
</table>
</div>
</div>
</div> -->

<div class="container">
<div class="card-group">
  <% @pets.each do |pet| %>
  <div class="card">
    <img class="card-img-top" src="<%= pet.image %>" alt="<%= pet.name %>">
    <div class="card-body">
      <h5 class="card-title"><%= pet.name %></h5>
      <p class="card-text">Pet's bio</p>
      <p class="card-text"><small class="text-muted">Activities</small></p>
    </div>
  </div>
  <% end %>



</div>
</div>
