<div class="column side">
  <table class="center">
    <tr><td>
      <h2 class="big-header"><%= @pet.name %></h2>
    </tr></td>
    <tr><td>
      <% if @pet.image.attachment %>
      <%= image_tag @pet.image, style: 'height:auto;width:100%;', class: "jumbo-shadow"%>
      <% else %>
      There is no image.
      <% end %>
      </td>
    </tr>
  </table>

  <table class="center">
    <tr><td><%= @pet.age %> year-old</td><td> <%= @pet.breed %></td></tr>
  <tr><td>Weight</td><td><%= @pet.weight %>lbs</td></tr>
</table>
<table class="cool">
  <% @pet.relationships.each do |relationship| %>
  <tr onclick="location.href='<%= owner_path(relationship.owner) %>'"><td><%= relationship.title %></td><td><%= relationship.owner.name %></td></tr>
  <% end %>
</table>
<% if valid_owner? %>
<table>
  <tr>

    <%= link_to "Edit Profile", edit_pet_path(@pet), method: :get, active: true, class: "btn btn-outline-primary"%>
    <%= link_to "New Relationship", new_relationship_path, method: :get, active: true, class: "btn btn-outline-info" %>
    <%= link_to "Edit Relationship", edit_relationship_path, method: :get, active: true, class: "btn btn-outline-success" %>
    <%= link_to "Delete Profile", @pet, class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure you want to delete #{@pet.name}?"} %>
  </tr>
</table>
<% end %>
</div>

<div class="column middle">
  <% if @pet.appointments.empty? %>
  <% elsif @pet.appointments.last.time < Time.now  %>
  <% else %>
  <div class="jumbotron jumbo-shadow">
    <h3 class="mid-header">Upcoming Appointments:</h3>
      <table class="feed">
        <% if valid_caretaker? %>
            <tr onclick="location.href='<%= appointment_path(@pet.next_appointment) %>'">
          <% else %>
            <tr>
          <% end %>
          <td><%= @pet.next_appointment.logged_time %></td></tr>
      </table>
  </div>
  <% end %>
<div class="jumbotron jumbo-shadow jumbo-custom-bg">
    <h2 class="big-header">Log Activity</h2>
    <br>
      <div class="pet-grid">
            <% if @pet.foods.empty? || @pet.foods.last.time == nil%>
            Log feeding times here!
            <% else %>
            <% if valid_caretaker? %>
            <%= link_to "Last Meal: #{@pet.foods.last.logged_time}", food_path(@pet.foods.last) %>
              <% else %>
              Last fed:
            <%= @pet.foods.last.logged_time%>
            <% end %>
            <% end %>
          <% if valid_sitter? %>
          <%= form_for @food do |f| %>
          <%= f.hidden_field :time, value: Time.zone.now%>
          <%= f.hidden_field :pet_id, value: "#{@pet.id}" %>
          <%= f.hidden_field :owner_id, value: "#{session[:owner_id]}" %>
          <%= f.submit "Give Meal!",class: "btn btn-outline-primary", turbolinks: false %>
          <% end %>
          <%= link_to "New Meal Event", new_food_path, class: "btn btn-outline-primary", method: :get %>
        <% end %>
      </div>

<div class="pet-grid">
      <% if @pet.plays.empty? %>
      Log  playtimes here!
      <% else %>
      <% if valid_sitter? %>
<%= link_to "Last Activity #{@pet.plays.last.logged_time}", play_path(@pet.plays.last)%>
      <% else %>
        Last played with:    <%= @pet.plays.last.logged_time%>

        <% end %>
    <% end %>

  <% if valid_sitter? %>
    <%= form_for @play do |f| %>

    <%= f.hidden_field :time, value: Time.zone.now %>
    <%= f.hidden_field :pet_id, value: "#{@pet.id}" %>
    <%= f.hidden_field :owner_id, value: "#{session[:owner_id]}" %>
    <td class="center-it">
    <%= f.submit "Log Activity!", class: "btn btn-outline-success" %>
    <% end %>
<%= link_to "New Activity", new_play_path, class: "btn btn-outline-success", method: :get %>
  <% end %>
</div>

<div class="pet-grid">
  <% if @pet.species.downcase == "dog" %>
    <% if @pet.wastes.empty? %>
    Log walks here!
    <% else %>
    <% if valid_sitter? %>
    <%= link_to "Last cleaning: #{@pet.wastes.last.logged_time}", waste_path(@pet.wastes.last) %>
      <% else %>
      Last Walk: <%= @pet.wastes.last.logged_time %>
        <% end %>
  <% end %>
<% if valid_sitter? %>

  <%= form_for @waste do |f| %>
  <%= f.hidden_field :time, value: Time.zone.now %>
  <%= f.hidden_field :pet_id, value: "#{@pet.id}" %>
  <%= f.hidden_field :owner_id, value: "#{session[:owner_id]}" %>
  <%= f.submit "Walk!", class: "btn btn-outline-info" %>
  <% end %>
<%= link_to "New Walk", new_waste_path, class: "btn btn-outline-info", method: :get %>
<% end %>

  <% elsif @pet.species.downcase == "cat" %>
  <% if @pet.wastes.empty? %>
  Log scoops here!
  <% else %>
  <% if valid_sitter? %>
  <%= link_to "Last Scoop: #{@pet.wastes.last.logged_time}", waste_path(@pet.wastes.last) %>
    <% else %>
    Last Scoop:   <%=@pet.wastes.last.logged_time%>
      <% end %>
  <% end %>
<% if valid_sitter? %>
  <%= form_for @waste do |f| %>
  <%= f.hidden_field :time, value: Time.zone.now %>
  <%= f.hidden_field :pet_id, value: "#{@pet.id}" %>
  <%= f.hidden_field :owner_id, value: "#{session[:owner_id]}" %>
  <%= f.submit "Scoop!", class: "btn btn-outline-info"  %>
  <% end %>
<%= link_to "New Scoop", new_waste_path, class: "btn btn-outline-info", method: :get %>
<% end %>
  <% else %>

  <% if @pet.wastes.empty? %>
  Log Cleanings here!
  <% else %>
  <% if valid_sitter? %>
  <%= link_to "Last cleaning: #{@pet.wastes.last.logged_time}", waste_path(@pet.wastes.last) %>
    <% else %>
    Last cage cleaning:   <%= @pet.wastes.last.logged_time %>

      <% end %>
  <% end %>
<% if valid_sitter? %>
  <%= form_for @waste do |f| %>
  <%= f.hidden_field :time, value: Time.zone.now %>
  <%= f.hidden_field :pet_id, value: "#{@pet.id}" %>
  <%= f.hidden_field :owner_id, value: "#{session[:owner_id]}" %>
  <%= f.submit "Clean!", class: "btn btn-outline-info" %>
  <% end %>
  <% end %>
<%= link_to "New Cleaning", new_waste_path, class: "btn btn-outline-info", method: :get %>

<% end %>
</div>
<hr>

<h2 class="mid-header">Appointments</h2>

<%= form_for @appointment do |f| %>
<table class="cool-smol">
  <tr>
  <% if @pet.appointments.empty? %>
  <td>Log Appointments!</td>
  <% else %>
  <% if valid_sitter? %>
  <td><%= link_to "Last appointment: #{@pet.appointments.last.logged_time}", appointment_path(@pet.appointments.last) %>
    <% else %>
    <td>Last Appointment:<%= @pet.appointments.last.logged_time %></td>
      <% end %>
  <% end %>
<% if valid_caretaker? %>
<td>
  <%= f.datetime_select :time, ampm: true, default: Time.zone.now, start_year: (Time.zone.now.year - 1), order: [:month, :day, :year], use_short_month: true %>
  <%= f.hidden_field :title, value: "Checkup" %>
  <%= f.hidden_field :notes, value: "Take #{@pet.name} in for a Checkup" %>
  <%= f.hidden_field :pet_id, value: "#{@pet.id}" %>
  <%= f.hidden_field :owner_id, value: "#{session[:owner_id]}" %>
</td>
<td>
    <%= f.submit "Create Appointment!", class: "btn btn-outline-secondary" %>
</td>
  <% end %>
<% end %>
</tr>
</table>

<br>

<h3 class="coolness">Conditions</h3>
<% if valid_owner? %>
<%= link_to "New condition", new_condition_path, method: :get, active: true, class: "btn btn-outline-info" %>
<% end %>
<table class="cool-tiny">
  <% @pet.conditions.each do |condition| %>
  <% if valid_caretaker? %>
  <tr onclick="location.href='<%= condition_path(condition) %>'">
    <% else %>
    <tr>
      <% end %>
    <td><%= condition.title %></td>
    <td><%= condition.notes %></td>
  </tr>
  <% end %>
</table>
</div>

</div>

<div class="column side scroll-div">

<h2 class="mid-header">All Activity</h2>
<table class="all-feed">
  <% if @pet.sort_my_log.empty? %>
  <tr><td>No Activity Yet!</td></tr>
  <% else %>
<% @pet.sort_my_log.each do |activity|%>
<% if valid_sitter? %>
<% if activity.class == Waste %>
  <tr onclick="location.href='<%= waste_path(activity) %>'">
<% elsif activity.class == Play%>
  <tr onclick="location.href='<%= play_path(activity) %>'">
<% elsif activity.class == Food%>
  <tr onclick="location.href='<%= food_path(activity) %>'">
<% elsif valid_caretaker? && activity.class == Appointment%>
  <tr onclick="location.href='<%= appointment_path(activity) %>'">
<% end %>
  <% else %>
  <tr>
<% end %>
  <td><%= activity.pet.name %></td> <td><%=@pet.recent_activity(activity)%></td><td><%= activity.logged_time %></td></tr>
<% end %>
<% end %>
</table>

</div>
