<h2><%= @pet.name %></h2>
<p><%= @pet.age %> year-old <%= @pet.breed %> <%= @pet.species %></p>
<p>Weight: <%= @pet.weight %>lbs</p>
<% @pet.relationships.each do |relationship| %>
<p><%= link_to relationship.owner.name, relationship.owner %> - <%= relationship.title %></p>
<% end %>
<h3>Pet's Conditions: <%= link_to "Add a new condition", new_condition_path %></h3>
  <% @pet.conditions.each do |condition| %>
  <p><%= link_to condition.title, condition %> - <%= condition.notes %></p>
  ***<br>
  <% end %>

<ul>
  <li>Last fed at:
<% if @pet.foods.empty? || @pet.foods.last.time == nil%>
Log feeding times here!
<% else %>

  <%=link_to @pet.foods.last.logged_time, food_path(@pet.foods.last)%>
  <% end %>
    <%= form_for @food do |f| %>
    <%= f.datetime_select :time, ampm: true, default: Time.zone.now, start_year: Time.zone.now.year, order: [:month, :day, :year] %>
    <%= f.hidden_field :pet_id, value: "#{@pet.id}" %>
    <%= f.hidden_field :owner_id, value: "#{session[:owner_id]}" %>
    <%= f.submit "Give Meal!" %>
    <% end %>
  </li>
  <li>Last played with:
    <% if @pet.plays.empty? %>
    Log  playtimes here!
    <% else %>
  <%=link_to @pet.plays.last.logged_time, play_path(@pet.plays.last)%>
  <% end %>
  <%= form_for @play do |f| %>
  <%= f.datetime_select :time, ampm: true, default: Time.zone.now, start_year: Time.zone.now.year, order: [:month, :day, :year] %>
  <%= f.hidden_field :pet_id, value: "#{@pet.id}" %>
  <%= f.hidden_field :owner_id, value: "#{session[:owner_id]}" %>
  <%= f.submit "Log Activity!" %>
  <% end %>
</li>
<li>
<% if @pet.species.downcase == "dog" %>
  Last Walk:
  <% if @pet.wastes.empty? %>
  Log walks here!
  <% else %>
<%=link_to @pet.wastes.last.logged_time, waste_path(@pet.wastes.last)%>
<% end %>
<%= form_for @waste do |f| %>
<%= f.datetime_select :time, ampm: true, default: Time.zone.now, start_year: Time.zone.now.year, order: [:month, :day, :year] %>
<%= f.hidden_field :pet_id, value: "#{@pet.id}" %>
<%= f.hidden_field :owner_id, value: "#{session[:owner_id]}" %>
<%= f.submit "Walk!" %>
<% end %>
<% elsif @pet.species.downcase == "cat" %>
Last Scoop:
<% if @pet.wastes.empty? %>
Log scoops here!
<% else %>
<%=link_to @pet.wastes.last.logged_time, waste_path(@pet.wastes.last)%>
<% end %>
<%= form_for @waste do |f| %>
<%= f.datetime_select :time, ampm: true, default: Time.zone.now, start_year: Time.zone.now.year, order: [:month, :day, :year] %>
<%= f.hidden_field :pet_id, value: "#{@pet.id}" %>
<%= f.hidden_field :owner_id, value: "#{session[:owner_id]}" %>
<%= f.submit "Scoop!" %>
<% end %>
<% else %>
Last Cage Cleaning:
<% if @pet.wastes.empty? %>
Log Cleanings here!
<% else %>
<%=link_to @pet.wastes.last.logged_time, waste_path(@pet.wastes.last)%>
<% end %>
<%= form_for @waste do |f| %>
<%= f.datetime_select :time, ampm: true, default: Time.zone.now, start_year: Time.zone.now.year, order: [:month, :day, :year] %>
<%= f.hidden_field :pet_id, value: "#{@pet.id}" %>
<%= f.hidden_field :owner_id, value: "#{session[:owner_id]}" %>
<%= f.submit "Cleaning!" %>
<% end %>
<% end %>

</ul>
