<h2><%= @pet.name %></h2>
<p><%= @pet.age %> year old <%= @pet.breed %></p>

<ul>
  <li>Weight: <%= @pet.weight %></li>
  <li>Last fed: <%=@pet.foods.last%>
    <%= form_for @food do |f| %>
    <%= f.hidden_field :pet_id, value: "#{@pet.id}" %>
    <%= f.hidden_field :owner_id, value: "#{session[:owner_id]}" %>
    <%= f.submit "Feed!" %>
    <% end %>
  </li>
  <li>Last played with: <%=@pet.plays.last%></li>
</ul>
