<div class="column side">
  <table class="center">
    <tr><td>
      <h2 class="big-header"><%= @pet.name %></h2>
    </tr></td>
    <tr><td>
      <% if @pet.image.attachment %>
      <%= image_tag @pet.image %>
      <% else %>
      There is no image.
      <% end %>
      </td>
    </tr>
  </table>

  <table class="center">
    <tr><td>Age</td><td><%= @pet.age %> year-old <%= @pet.breed %></td></tr>
  <tr><td>Weight</td><td><%= @pet.weight %>lbs</td></tr>
</table>
<table class="cool">
  <% @pet.relationships.each do |relationship| %>
  <tr onclick="location.href='<%= owner_path(relationship.owner) %>'"><td><%= relationship.title %></td><td><%= relationship.owner.name %></td></tr>
  <% end %>
</table>

  <table class="center">
    <tr class="mid-header"><td>Conditions</td><td>Notes</td></tr>
  </table>
  <table class="cool">
    <% @pet.conditions.each do |condition| %>
    <tr onclick="location.href='<%= condition_path(condition) %>'">
      <td><%= condition.title %></td>
      <td><%= condition.notes %></td>
    </tr>
    <% end %>
  </table>
  <%= button_to "Edit Profile", edit_pet_path, method: :get %>
  <%= button_to "Create New Relationship", new_relationship_path, method: :get %>
  <%= button_to "Edit Relationship", edit_relationship_path, method: :get %>
  <%= button_to "Add an Appointment", new_appointment_path, method: :get %>
</div>

<div class="column middle">

  <% if @pet.appointments.empty? %>
  <% elsif @pet.appointments.last.logged_time > Time.now.strftime("%I:%M %P on %m/%d/%Y")  %>
  <% else %>
  <h3>Upcoming Appointments:</h3>
  <%= @pet.appointments.last.logged_time %>
  <% end %>

  <table class="cool-smol">
    <h2 class="big-header">Log Activity</h2>
    <tr><th onclick="location.href='<%= food_path(@pet.foods.last) %>'">Last fed:
        <% if @pet.foods.empty? || @pet.foods.last.time == nil%>
        Log feeding times here!
        <% else %>

        <%=@pet.foods.last.logged_time%>
        <% end %>
      </th>
    <td>
      <%= form_for @food do |f| %>
      <%= f.datetime_select :time, ampm: true, default: Time.zone.now, start_year: Time.zone.now.year, order: [:month, :day, :year] %>
      <%= f.hidden_field :pet_id, value: "#{@pet.id}" %>
      <%= f.hidden_field :owner_id, value: "#{session[:owner_id]}" %>
    </td>
      <td>
      <%= f.submit "Give Meal!", class: "btn btn-outline-primary" %>
      <% end %>
    </td>

    </tr>
    <tr><th onclick="location.href='<%= play_path(@pet.plays.last) %>'">Last played with:
      <% if @pet.plays.empty? %>
      Log  playtimes here!
      <% else %>
    <%= @pet.plays.last.logged_time%>
    <% end %>
  </th><td>
    <%= form_for @play do |f| %>
    <%= f.datetime_select :time, ampm: true, default: Time.zone.now, start_year: Time.zone.now.year, order: [:month, :day, :year] %>
    <%= f.hidden_field :pet_id, value: "#{@pet.id}" %>
    <%= f.hidden_field :owner_id, value: "#{session[:owner_id]}" %>
  </td><td>
    <%= f.submit "Log Activity!", class: "btn btn-outline-success" %>
    <% end %>
  </td>
  </tr>
  <tr>
  <% if @pet.species.downcase == "dog" %>
  <th onclick="location.href='<%= waste_path(@pet.wastes.last) %>'">
    Last Walk:
    <% if @pet.wastes.empty? %>
    Log walks here!
    <% else %>
  <%= @pet.wastes.last.logged_time%>
  <% end %>
</th>
<td>
  <%= form_for @waste do |f| %>
  <%= f.datetime_select :time, ampm: true, default: Time.zone.now, start_year: Time.zone.now.year, order: [:month, :day, :year] %>
  <%= f.hidden_field :pet_id, value: "#{@pet.id}" %>
  <%= f.hidden_field :owner_id, value: "#{session[:owner_id]}" %>
</td><td>
  <%= f.submit "Walk!", class: "btn btn-outline-info" %>
  <% end %>
</td>
  <% elsif @pet.species.downcase == "cat" %>
  <th onclick="location.href='<%= waste_path(@pet.wastes.last) %>'">
  Last Scoop:
  <% if @pet.wastes.empty? %>
  Log scoops here!
  <% else %>
  <%=@pet.wastes.last.logged_time%>
  <% end %>
</th><td>
  <%= form_for @waste do |f| %>
  <%= f.datetime_select :time, ampm: true, default: Time.zone.now, start_year: Time.zone.now.year, order: [:month, :day, :year] %>
  <%= f.hidden_field :pet_id, value: "#{@pet.id}" %>
  <%= f.hidden_field :owner_id, value: "#{session[:owner_id]}" %>
</td><td>
  <%= f.submit "Scoop!", class: "btn btn-outline-info"  %>
  <% end %>
</td>
  <% else %>
  <th onclick="location.href='<%= waste_path(@pet.wastes.last) %>'">
  Last Cage Cleaning:
  <% if @pet.wastes.empty? %>
  Log Cleanings here!
  <% else %>
  <%= @pet.wastes.last.logged_time %>
  <% end %>
</th><td>
  <%= form_for @waste do |f| %>
  <%= f.datetime_select :time, ampm: true, default: Time.zone.now, start_year: Time.zone.now.year, order: [:month, :day, :year] %>
  <%= f.hidden_field :pet_id, value: "#{@pet.id}" %>
  <%= f.hidden_field :owner_id, value: "#{session[:owner_id]}" %>
</td><td>
  <%= f.submit "Cleaning!", class: "btn btn-outline-info" %>
  <% end %>
  <% end %>
</td>
</tr>

<tr>
<th onclick="location.href='<%= appointment_path(@pet.appointments.last) %>'">
  Last Appointment:
  <% if @pet.appointments.empty? %>
  Appointments here!
  <% else %>
  <%= @pet.appointments.last.logged_time %>
  <% end %>
</td><td>
  <%= form_for @appointment do |f| %>
  <%= f.datetime_select :time, ampm: true, default: Time.zone.now, start_year: Time.zone.now.year, order: [:month, :day, :year] %>
  <%= f.hidden_field :title, value: "Checkup" %>
  <%= f.hidden_field :notes, value: "Take #{@pet.name} in for a Checkup" %>
  <%= f.hidden_field :pet_id, value: "#{@pet.id}" %>
  <%= f.hidden_field :owner_id, value: "#{session[:owner_id]}" %>
</td><td>
  <%= f.submit "Create Appointment!", class: "btn btn-outline-secondary" %>
  <% end %>
</td>
</tr>

</table>

</div>

<div class="column side">
<h2 class="mid-header">All Activity</h2>
<table class="cool">
<% @pet.sort_my_log.each do |activity|%>
<tr><td><%= activity.pet.name %></td> <td><%=activity.class%></td><td><%= activity.logged_time %></td></tr>
<% end %>
</table>

</div>
