<h2><%= @pet.name %></h2>
<p><%= @pet.age %> year old <%= @pet.breed %></p>

<ul>
  <li>Weight: <%= @pet.weight %></li>
  <li>Last fed:
<% if @pet.foods.empty? %>
Log feeding times here!
<% else %>
  <%=link_to @pet.foods.last, food_path(@pet.foods.last)%>
  <% end %>
    <%= form_for @food do |f| %>
    <%= f.hidden_field :pet_id, value: "#{@pet.id}" %>
    <%= f.hidden_field :owner_id, value: "#{session[:owner_id]}" %>
    <%= f.submit "Feed!" %>
    <% end %>
  </li>
  <li>Last played with:
    <% if @pet.plays.empty? %>
    Log  playtimes here!
    <% else %>
  <%=link_to @pet.plays.last, play_path(@pet.plays.last)%>
  <% end %>
  <%= form_for @play do |f| %>
  <%= f.hidden_field :pet_id, value: "#{@pet.id}" %>
  <%= f.hidden_field :owner_id, value: "#{session[:owner_id]}" %>
  <%= f.submit "Play!" %>
  <% end %>
</li>
</ul>
