<div class="column side">
  <table class="center">
    <tr><td>
      <h2 class="big-header"><%= @pet.name %></h2>
    </tr></td>
    <tr><td>
      <% if @pet.image.attachment %>
      <%= image_tag @pet.image, style: 'height:auto;width:100%;' %>
      <% else %>
      There is no image.
      <% end %>
      </td>
    </tr>
  </table>

  <table class="center">
    <tr><td><%= @pet.age %> year-old</td><td> <%= @pet.breed %></td></tr>
  <tr><td>Weight</td><td><%= @pet.weight %>lbs</td></tr>
</table>
<table class="cool">
  <% @pet.relationships.each do |relationship| %>
  <tr onclick="location.href='<%= owner_path(relationship.owner) %>'"><td><%= relationship.title %></td><td><%= relationship.owner.name %></td></tr>
  <% end %>
</table>
<% if valid_owner? %>
<table>
  <tr>

    <%= link_to "Edit Profile", edit_pet_path(@pet), method: :get, active: true, class: "btn btn-outline-primary"%>
    <%= link_to "New Relationship", new_relationship_path, method: :get, active: true, class: "btn btn-outline-info" %>
    <%= link_to "Edit Relationship", edit_relationship_path, method: :get, active: true, class: "btn btn-outline-success" %>
    <%= link_to "Delete Profile", @pet, class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure you want to delete #{@pet.name}?"} %>
  </tr>
</table>
<% end %>
</div>

<div class="column middle">

  <% if @pet.appointments.empty? %>
  <% elsif @pet.appointments.last.time < Time.now  %>
  <% else %>
    <h3 class="mid-header">Upcoming Appointments:</h3>
      <table class="feed">
        <% if valid_caretaker? %>
            <tr onclick="location.href='<%= appointment_path(@pet.next_appointment) %>'">
          <% else %>
            <tr>
          <% end %>
          <td><%= @pet.next_appointment.logged_time %></td></tr>
      </table>
  <% end %>
<div class="jumbotron">
  <table class="cool-smol">
    <h2 class="big-header">Log Activity</h2>
    <tr>
        <% if @pet.foods.empty? || @pet.foods.last.time == nil%>
        <th>
        Log feeding times here!
        <% else %>
        <% if valid_caretaker? %>
        <th onclick="location.href='<%= food_path(@pet.foods.last) %>'">Last fed:
          <% else %>
          <th>Last fed:
            <% end %>
        <%=@pet.foods.last.logged_time%>
        <% end %>
      </th>
      <% if valid_sitter? %>
    <td>
      <%= form_for @food do |f| %>
      <%= f.datetime_select :time, ampm: true, default: Time.zone.now, start_year: (Time.zone.now.year - 1), order: [:month, :day, :year], use_short_month: true %>
      <%= f.hidden_field :pet_id, value: "#{@pet.id}" %>
      <%= f.hidden_field :owner_id, value: "#{session[:owner_id]}" %>
    </td>
      <td>
      <%= f.submit "Give Meal!", class: "btn btn-outline-primary" %>
      <% end %>
    </td>
    <% end %>

    </tr>
    <tr>
      <% if @pet.plays.empty? %>
      <th>
      Log  playtimes here!
      <% else %>
      <% if valid_sitter? %>
      <th onclick="location.href='<%= play_path(@pet.plays.last) %>'">Last played with:
      <% else %>
      <th>Last played with:
        <% end %>
    <%= @pet.plays.last.logged_time%>
    <% end %>
  </th>
  <% if valid_sitter? %>
  <td>
    <%= form_for @play do |f| %>
    <%= f.datetime_select :time, ampm: true, default: Time.zone.now, start_year: (Time.zone.now.year - 1), order: [:month, :day, :year], use_short_month: true %>
    <%= f.hidden_field :pet_id, value: "#{@pet.id}" %>
    <%= f.hidden_field :owner_id, value: "#{session[:owner_id]}" %>
  </td><td>
    <%= f.submit "Log Activity!", class: "btn btn-outline-success" %>
    <% end %>
  </td>
  <% end %>
  </tr>
  <tr>
  <% if @pet.species.downcase == "dog" %>
    <% if @pet.wastes.empty? %>
    <th>
    Log walks here!
    <% else %>
    <% if valid_sitter? %>
    <th onclick="location.href='<%= waste_path(@pet.wastes.last) %>'">Last Walk:
      <% else %>
      <th>
        <% end %>
       <%= @pet.wastes.last.logged_time%>
  <% end %>
</th>
<% if valid_sitter? %>
<td>
  <%= form_for @waste do |f| %>
  <%= f.datetime_select :time, ampm: true, default: Time.zone.now, start_year: (Time.zone.now.year - 1), order: [:month, :day, :year], use_short_month: true %>
  <%= f.hidden_field :pet_id, value: "#{@pet.id}" %>
  <%= f.hidden_field :owner_id, value: "#{session[:owner_id]}" %>
</td><td>
  <%= f.submit "Walk!", class: "btn btn-outline-info" %>
  <% end %>
</td>
<% end %>
  <% elsif @pet.species.downcase == "cat" %>
  <% if @pet.wastes.empty? %>
  <th>
  Log scoops here!
  <% else %>
  <% if valid_sitter? %>
  <th onclick="location.href='<%= waste_path(@pet.wastes.last) %>'">Last Scoop:
    <% else %>
    <th>Last Scoop:
      <% end %>
   <%=@pet.wastes.last.logged_time%>
  <% end %>
</th>
<% if valid_sitter? %>
<td>
  <%= form_for @waste do |f| %>
  <%= f.datetime_select :time, ampm: true, default: Time.zone.now, start_year: (Time.zone.now.year - 1), order: [:month, :day, :year], use_short_month: true %>
  <%= f.hidden_field :pet_id, value: "#{@pet.id}" %>
  <%= f.hidden_field :owner_id, value: "#{session[:owner_id]}" %>
</td><td>
  <%= f.submit "Scoop!", class: "btn btn-outline-info"  %>
  <% end %>
</td>
<% end %>
  <% else %>

  <% if @pet.wastes.empty? %>
  <th>
  Log Cleanings here!
  <% else %>
  <% if valid_sitter? %>
  <th onclick="location.href='<%= waste_path(@pet.wastes.last) %>'">Last Cage Cleaning:
    <% else %>
    <th>Last cage cleaning:
      <% end %>
  <%= @pet.wastes.last.logged_time %>
  <% end %>
</th>
<% if valid_sitter? %>
<td>
  <%= form_for @waste do |f| %>
  <%= f.datetime_select :time, ampm: true, default: Time.zone.now, start_year: (Time.zone.now.year - 1), order: [:month, :day, :year], use_short_month: true %>
  <%= f.hidden_field :pet_id, value: "#{@pet.id}" %>
  <%= f.hidden_field :owner_id, value: "#{session[:owner_id]}" %>
</td><td>
  <%= f.submit "Cleaning!", class: "btn btn-outline-info" %>
  <% end %>
  <% end %>
</td>
<% end %>
</tr>

<tr>
  <% if @pet.appointments.empty? %>
  <th>
  Log Appointments here!
  <% else %>
  <% if valid_sitter? %>
  <th onclick="location.href='<%= appointment_path(@pet.appointments.last) %>'">
    Last Appointment:
    <% else %>
    <th>Last Appointment:
      <% end %>
  <%= @pet.appointments.last.logged_time %>
  <% end %>
</th>
<% if valid_caretaker? %>
<td>
  <%= form_for @appointment do |f| %>
  <%= f.datetime_select :time, ampm: true, default: Time.zone.now, start_year: (Time.zone.now.year - 1), order: [:month, :day, :year], use_short_month: true %>
  <%= f.hidden_field :title, value: "Checkup" %>
  <%= f.hidden_field :notes, value: "Take #{@pet.name} in for a Checkup" %>
  <%= f.hidden_field :pet_id, value: "#{@pet.id}" %>
  <%= f.hidden_field :owner_id, value: "#{session[:owner_id]}" %>
</td><td>
  <%= f.submit "Create Appointment!", class: "btn btn-outline-secondary" %>
  <% end %>
</td>
<% end %>
</tr>
</table>
<br>
<h3 class="coolness">Conditions</h3>
<table class="cool-tiny">
  <% @pet.conditions.each do |condition| %>
  <% if valid_caretaker? %>
  <tr onclick="location.href='<%= condition_path(condition) %>'">
    <% else %>
    <tr>
      <% end %>
    <td><%= condition.title %></td>
    <td><%= condition.notes %></td>
  </tr>
  <% end %>
</table>
</div>

</div>

<div class="column side">
<h2 class="mid-header">All Activity</h2>
<table class="all-feed">
<% @pet.sort_my_log.each do |activity|%>
<% if valid_sitter? %>
<% if activity.class == Waste %>
  <tr onclick="location.href='<%= waste_path(activity) %>'">
<% elsif activity.class == Play%>
  <tr onclick="location.href='<%= play_path(activity) %>'">
<% elsif activity.class == Food%>
  <tr onclick="location.href='<%= food_path(activity) %>'">
<% elsif activity.class == Appointment%>
  <tr onclick="location.href='<%= appointment_path(activity) %>'">
<% end %>
<% end %>

  <td><%= activity.pet.name %></td> <td><%=@pet.recent_activity(activity)%></td><td><%= activity.logged_time %></td></tr>
<% end %>
</table>

</div>
