<h2><%= link_to @play.owner.name, owner_path(@play.owner) %> played with <%= link_to @play.pet.name, pet_path(@play.pet) %> at <%= @play.logged_time %></h2>
<p><%= link_to "Edit Notes", edit_play_path(@play) %></p>
<p><%= @play.notes %></p>
