<div class="card text-center shows">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <%= link_to 'Go Back', request.headers['HTTP_REFERER'] %>
      </li>
      <li class="nav-item">
        <%= link_to @play.pet.name, pet_path(@play.pet), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to @play.owner.name, owner_path(@play.owner), class: "nav-link" %>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title logo-font-form text-primary"><%= @play.pet.name %>'s' activity with <%= @play.owner.name %> at <%= @play.logged_time %></h5>
    <p class="card-text"><%= @play.notes %></p>
    <%= link_to "Edit Activity", edit_play_path(@play), class: "btn btn-outline-warning", method: :get %>

    <%= link_to "Delete Activity", @play, class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure you want to delete this Activity?"} %>
  </div>
</div>
