<div class="container">
<div class="card">
  <div class="card-header logo-font-form text-primary">
Edit Relationship
</div>
<div class="card-body">
<%= form_for @relationship do |f| %>
  <%= f.label :owner_id, "Select User to Edit: " %>
  <%= f.collection_select :owner_id, user_pet_relations, :id, :name %><br/>
  <div class="form-group">
  <%= f.label :title, "Change User's Title: " %><br>
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
  <%= f.label :title, value: "Caretaker" %>
  <%= f.radio_button :title, $CARETAKER %>
  <%= f.label :title, value: "Sitter" %>
  <%= f.radio_button :title, $SITTER%>
  <%= f.hidden_field :pet_id, value: @relationship.pet_id %>
</div><br>
  <%= f.submit "Edit Relationship", class: "btn btn-primary" %>
<% end %>
</div>
</div>
</div>
