<div class="container">
<div class="card">
  <div class="card-header logo-font-form text-primary">
Add a New Relationship
</div>
<div class="card-body">
<%= form_for @relationship do |f| %>
  <label>Select an Owner/Walker: </label>
  <%= f.collection_select :owner_id, Owner.all, :id, :name %><br/>

  <label>Add For: </label>
  <%= f.collection_select :pet_id, current_user.pets, :id, :name, class: "custom-select" %>
</select><br>
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <%= f.label :title, value: "Caretaker" %>
  <%= f.radio_button :title, $CARETAKER %>
  <%= f.label :title, value: "Sitter" %>
  <%= f.radio_button :title, $SITTER%>
</div><br>
  <%= f.submit "Create Relationship", class: "btn btn-primary"%>
<% end %>
</div>
</div>
</div>
