<div class="container">
<div class="card">
  <div class="card-header">
<h1>Add a New Relationship</h1>
</div>
<div class="card-body">
<%= form_for @relationship do |f| %>
  <label>Select an Owner/Walker: </label>
  <%= f.collection_select :owner_id, Owner.all, :id, :name %><br/>

  <label>Add For: </label>
  <%= f.collection_select :pet_id, current_user.pets, :id, :name, class: "custom-select" %>
</select>
  <div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title, placeholder: "Walker", class: "form-control" %>
</div>
  <%= f.submit "Create Relationship", class: "btn btn-primary"%>
<% end %>
</div>
</div>
</div>
