<div id="main" class="is-loading">
	<h1>



        <div class="custom-card rounded">
          <div class="card-body">
            <div class="card-header logo-font">
              Welcome to PeTrackr!
              <hr>
            </div>
        <%= form_tag sessions_path do %>
        <div class="form-group">
        <span class="label-font">  <%= label_tag "Username" %></span>
          <%= text_field_tag :name %>
        </div>
        <div class="form-group">
          <span class="label-font"><%= label_tag "Password" %></span>
          <%= password_field_tag :password %>
        </div>
        <div class="login-buttons"><%= submit_tag "login", class: "btn btn-primary btn-transparent" %>

        <% end %>
        <%= button_to "sign up", signup_path, method: :get, class: "btn btn-success btn-transparent" %></div>
        </div>

        </div>


		<div class="login-buttons">
    <!-- <%= button_to "login", login_path, class: "btn btn-primary btn-transparent" %> -->
    <!-- <%= button_to "sign up", signup_path, method: :get, class: "btn btn-success btn-transparent" %> -->
  </div>
</div>
</div>

	</h1>
</div>
