<div class="card text-center shows">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <%= link_to 'Go Back', request.headers['HTTP_REFERER'] %>
      </li>
      <li class="nav-item">
        <%= link_to "#{current_user.name}", owner_path(current_user), class: "nav-link" %>
      </li>
      <li class="nav-item">
          <%= link_to "#{@food.pet.name}", pet_path(@food.pet), class: "nav-link" %>
      </li>
    </ul>
    <div class="card-header logo-font-form text-primary">
    Meal at <%= @food.logged_time %> with <%= @food.owner.name %>
  </div>
  </div>
  <div class="card-body">
    <%= form_for @food do |f| %>
      <%= f.label :notes %><br>
      <%= f.text_area :notes %><br>
      <%= f.hidden_field :pet_id, value: @food.pet_id %>
      <%= f.hidden_field :owner_id, value: current_user.id %>
      <%= f.submit "Edit Activity", class: "btn btn-primary" %>      <br>
    <% end %>

</div>
