<h2><%= link_to @food.owner.name, owner_path(@food.owner) %> fed <%= link_to @food.pet.name, pet_path(@food.pet) %> at <%= @food.logged_time %></h2>
<p><%= link_to "Edit Notes", edit_food_path(@food) %></p>
<p><%= @food.notes %></p>
