<!DOCTYPE html>
<html>
  <head>
    <title>PetTrackerApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    Pet Tracker™
      <% if logged_in? %>
        <%= button_to "Logout", logout_path, method: :delete %>
      <% else %>
        <div><%= button_to "Login", login_path, method: :get %> <%= button_to "Sign Up!", signup_path, method: :get %></div>
      <% end %>

    <%= yield %>
  </body>
</html>
